

<!DOCTYPE html>
<html lang="fr">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="../styles.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">


        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      </head>
<body>
    <div class="container-global">
        <div class="header row">
                <div class="burger flex col s4">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="titre col s4">
                    <h1 class="">CalForm</h1>
                </div>
                <div class="connect profil col s4">
                    <h2>Se connecter</h2>
                </div>
        </div>
    



<div class=" deux"> 
    <div class="row">
        
            <article class="cours col s4">
                <img src="../ <%= cours.urlImage %>" alt="">
                <h2><%=cours.title %></h2>
                <h2><%= cours.categorie %></h2>
                <h2><%= cours.duree %></h2>
                <p> <%= cours.contenu %></p>
                <h3> <%= cours.prix %> </h3>
            </article>
  
    </div>
</div>

<footer>
    <div class="row">
        <div class="nav col s4">

          <div class="container-nav-un col s6">
              <h1>Catégorie</h1>
              <ul>
                  <li><a href="">HTML</a></li>
                  <li><a href="">CSS</a></li>
                  <li><a href="">JavaScript</a></li>
                  <li><a href="">Node.js</a></li>
                  <li><a href="">PHP</a></li>
              </ul>
          </div>
          <div class="container-nav-deux col s6">
              <ul>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="">Profil</a></li>
                  <li><a href="">Actualité</a></li>
                  <li><a href="">Politique de confidentialité</a></li>
              </ul>
          </div>

        </div>
        <div class="secu col s4">
            <img src="../imgs/securite.png" alt="">
            <div class="container-paiement">
                <img class="col s3" src="../imgs/visa.png" alt="">
                <img class="col s3" src="../imgs/mastercard.png" alt="">
                <img class="col s3" src="../imgs/paypal.png" alt="">
                <img class="col s3" src="../imgs/american.png" alt="">
            </div>
        </div>
        <div class="social col s4">
          <img class="col s2" src="../imgs/twitter.png" alt="">
                <img class="col s2" src="../imgs/dribble.png" alt="">
                <img class="col s2" src="../imgs/facebook.png" alt="">
                <img class="col s2" src="../imgs/pinterest.png" alt="">
                <img class="col s2" src="../imgs/google.png" alt="">
        </div>
    </div>
</footer>
</div>
</body>

</html>